.image {
    width:100%;
    height:100%
}

.destroy {
    width:100%;
    height:10rem;
    font-size: 2em;
}

.boom {
    position: relative;
    top: 50rem;
    left:20rem;
}

.nepalexplosives {
    display:none;
}